@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$poppins: "Poppins", sans-serif;

// colors
$bg: rgb(255, 255, 255); // white
$bg2: rgb(0, 0, 0); // black
$text: rgb(15, 15, 15);
$text2: rgb(240, 240, 240);
$primary: rgb(22, 210, 247); // turquoise

// spacing
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

$header-height: 72px;

// Breakpoint Sizes:
$sm: 37.5em;
$md: 48em;
$lg: 64em;
$xl: 75em;

// Mixins allow you to use breakpoints throughout your code
@mixin breakpoint($point) {
  @if $point == md {
    @media (min-width: $md) {
      @content;
    }
  }
}
